[package]
name = "rust_user_input"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio = { version = "1", features = ["full"] }
tokio-tungstenite = "0.17"
futures-util = "0.3"
chrono = "0.4"  # Añade esta línea para la biblioteca chrono
log = "0.4"
env_logger = "0.10"


[[bin]]
name = "server"
path = "src/bin/server.rs"

[[bin]]
name = "client"
path = "src/bin/client.rs"
