Package: osiris000
Version: 1.0
Section: base
Priority: optional
Architecture: all
Depends: wget, git
Maintainer: Tu Nombre <tuemail@ejemplo.com>
Description: Instalador que descarga y configura la estructura desde GitHub.
 Este paquete descarga los archivos del programa desde GitHub y configurala  estructura de directorios necesaria en /var/www.
 